
.domingo-hidden {
    display: none !important;
}

.domingo-overlay {
    background-color: #bddfd2 !important;
    outline: 2px solid #44bb89 !important;
}

.domingo-hide-book {
    background-color: #bddfd2 !important;
    outline: 2px solid #44bb89 !important;
}

.domingo-control-panel {
    z-index: 114514;
    background-color: #dddfdd;
    position: fixed;
    width: 30%;
    top: 1%;
    right: 1%;
    text-align: center;
    border-radius: 5px;
}